@inject IAuthService _authService
@inject ILogger<LogoutOption> _logger

<li style="padding: 8px 10px;" >
	<button class="btn btn-outline-danger w-100 text-start py-2" @onclick="Logout">
		<i class="bi bi-box-arrow-right ms-2"></i> Logout
	</button>
</li>

@code {
	[Parameter] public EventCallback<bool> ReloadNav { get; set; }

	private async Task Logout()
	{
		try
		{
			// var status = await _authService.Logout();
			// await ReloadNav.InvokeAsync(!status);
		}
		catch (InvalidOperationException ex)
		{
			_logger.LogError($"Logout failed: {ex.Message}", ex);
			// errorMessage = ex.Message;
		}
		catch (Exception ex)
		{
			_logger.LogError($"Logout failed: {ex.Message}", ex);
			// errorMessage = "Login failed: An unexpected error occurred.";
		}
    }
}
