@inject NavigationManager _navigationManager

<div class="flex items-center space-x-4">
    <button class="bg-pink-500 hover:bg-pink-600 text-white font-semibold py-2 px-4 rounded-md flex items-center text-sm" @onclick="GoToPromote">
        <span class="material-icons mr-2">add_circle_outline</span> Promote
    </button>

@*     <button class="text-gray-600 hover:text-pink-500 flex items-center text-sm font-medium">
        <span class="material-icons mr-1">event_available</span> Going
    </button> *@

@*     <button class="text-gray-600 hover:text-pink-500 relative">
        <span class="material-icons">notifications</span>
        <span class="absolute -top-1 -right-1 bg-red-500 text-white text-xs w-4 h-4 rounded-full flex items-center justify-center">3</span>
    </button> *@

    <UserPopupOpions></UserPopupOpions>
</div>

@code{
    private void GoToPromote()
    {
        _navigationManager.NavigateTo("/promote");
    }
}
