@inject NavigationManager _nav

﻿<div class="d-flex gap-2">
    <button class="btn btn-primary" @onclick="OnSignIn">Sign In</button>
    <button class="btn btn-outline-primary">Register</button>
</div>

@if (_showLoginPopup)
{
    <LoginPopup ReloadNav="ReloadNav" ShowLoginPopup="@OnReloadLoginPopup"></LoginPopup>
}



@code {
    // props    
    [Parameter] public EventCallback<bool> ReloadNav { get; set; }

    // fields
    private bool _showLoginPopup;

    // methods
    private void OnSignIn()
    {
        _showLoginPopup = true;
    }

    private void OnReloadLoginPopup(bool isLoginPopupShowing)
    {
        _showLoginPopup = isLoginPopupShowing;
        StateHasChanged();
    }
}
