@inject NavigationManager _nav

﻿<div class="d-flex gap-2">
    <button class="btn btn-primary" @onclick="OnSignIn">Sign In</button>
    <button class="btn btn-outline-primary">Register</button>
</div>

@if (_showLoginPopup)
{
    <LoginPopup ShowLoginPopup="@OnReloadLoginPopup"></LoginPopup>
}



@code {
    [Parameter] public EventCallback<Alert> OnNavReload { get; set; }

    private bool _showLoginPopup;

    private void OnSignIn()
    {
        _showLoginPopup = true;
    }

    private async Task OnReloadLoginPopup()
    {
        _showLoginPopup = false;
        StateHasChanged();
        
        await OnNavReload.InvokeAsync(new Alert("Login Successful", "You have logged in successfully.", AlertType.Success));         
    }
}
