@inherits LayoutComponentBase

<!-- Full Screen -->
<div class="min-h-screen flex flex-col">
    <!-- Navigation Bar -->
    <NavigationBar></NavigationBar>

    <!-- Main Content Area Below Navbar -->
    <div class="  flex-grow grid overflow-hidden w-full" style="height: calc(100vh - 70px);">
        <div class="  w-full overflow-y-auto h-full">
            <!-- Main Content -->
            <div class="min-h-screen flex flex-col">
                <main>                   
                        @Body
                </main> 
            </div>

            <!-- Footer Content Area Below Navbar -->
            <footer class="  bg-gray-800 text-white py-8">
                <div class="container mx-auto px-4 text-center">
                    <p>© 2025 Promota. All rights reserved.</p>
                    <div class="mt-2">
                        <a class="hover:text-pink-400 px-2" href="#">About Us</a>
                        <a class="hover:text-pink-400 px-2" href="#">Contact</a>
                        <a class="hover:text-pink-400 px-2" href="#">Privacy Policy</a>
                        <a class="hover:text-pink-400 px-2" href="#">Terms of Service</a>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</div>

