@inherits LayoutComponentBase
@inject NavigationManager _navigationManager

<!-- Navigation Bar -->
<NavigationBar></NavigationBar>

<!-- Full Screen -->
<div class="min-h-screen flex flex-col pt-[70px]">


    <!-- Main Content Area Below Navbar -->
    <div class="flex-grow grid grid-cols-1 md:grid-cols-4  overflow-hidden w-full" style="height: calc(100vh - 70px);">
         <!-- Side Bar -->
        <div class="px-3 md:col-span-1 py-8 w-full overflow-y-auto h-full">
             <aside class="bg-white p-6 rounded-lg shadow-lg  ">
                <SideBar></SideBar>
             </aside>
        </div>

        <!-- Main Content -->
        <div class="px-3 md:col-span-3 py-8  w-full overflow-y-auto h-full">
            <main class="md:col-span-3 space-y-6">
                @Body
            </main>
        </div>
    </div>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>



